## Conditional Statement

In [1]:
a= 10
b= 50

if a > b:
    print('a')
elif b > a:
    print('b')
else:
    print("Equal")

b

nested if:

In [2]:
c= 15

if a>b:
    if a>c:
        print('a')
elif b>c:
    print('b')
else:
    print('c')

b

## Loop

While loop:

In [3]:
n=1 

while n<= 10:
    if n== 6:
        n+= 1
        continue
    print(n)
    n+= 1
print('Done!')

1
2
3
4
5
7
8
9
10
Done!

In [4]:
n=0

while n<= 10:
    if n== 6:
        break
    print(n)
    n+= 1
print('Done!')

0
1
2
3
4
5
Done!

For loop:

In [5]:
for i in range(10):  # range(initialization, condition, post-statement)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(5, 20, 5):
    print(i)

5
10
15

In [7]:
for i in range(4, 10, 2):
    print(i)

4
6
8

In [8]:
veg = ['tomato', 'potato', 'pumpkin']

for v in veg:
    print(v)

tomato
potato
pumpkin

In [9]:
dict = {'a':'apple', 'b':'ball', 'c':'cat', 'd':'dog'}

for letter in dict.values():
    print(letter)

apple
ball
cat
dog

In [10]:
for k in dict.keys():
    print(k)

a
b
c
d

In [11]:
i= 1
j= 10

while i<= 10:
    print(f"{j} x {i} = {i*j}")
    i+=1

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [12]:
for namta in range(1, 11, 1):
    print(f"10 x {namta} = {10*namta}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [14]:
numbers = [1, 3, 5, 7, 9, 11]
flag= 0

for n in numbers:
    if n<9:
        print(n)
        flag+=1
if flag==0:
    print('No nummbers less than 9!')

1
3
5
7

## Function

In [15]:
def my_pet(name):
    return name

In [16]:
my_pet('Tommy')

'Tommy'

In [17]:
my_pet('Momo')

'Momo'

In [18]:
def country():
    print('Bangladesh')
    print("CSA")

In [19]:
country()

Bangladesh
CSA

In [20]:
pet_name = my_pet("Appa")
pet_name

'Appa'

In [21]:
def my_food(name, day, flavor):
    return name, day, flavor

In [22]:
my_food('Fried Rice', 'Sunday', 'Chicken')

('Fried Rice', 'Sunday', 'Chicken')

In [23]:
name, day, flavor = my_food('Ice cream', 'Friday', 'Chocolate')
flavor

'Chocolate'

In [24]:
my_food('Chips', 'Thursday')

TypeError: my_food() missing 1 required positional argument: 'flavor'

In [25]:
def fav_person(name, age, home= 'Dhaka'):
    return name, age, home

In [26]:
fav_person('Barsha', 22)

('Barsha', 22, 'Dhaka')

In [27]:
fav_person('Barsha', 22, 'Rajshahi')

('Barsha', 22, 'Rajshahi')

In [28]:
def numbers(i):
    return i

for i in range(5):
    print(i)
    print(numbers(25))

0
25
1
25
2
25
3
25
4
25

Lambda Function:

In [29]:
def add(a, b):
    return a+b

sum = add(10, 15)
sum

25

In [31]:
lambda_add = lambda a,b : a+b
lambda_add(10, 15)

25

Map:

In [1]:
lst= [1, 2, 3, 4, 5]
square = lambda n : n*n

new_lst = map(square, lst)
m= list(new_lst)
m

[1, 4, 9, 16, 25]