In [2]:
a= 5
b= 12
print(a*b)

60

In [3]:
b/a   # Float division

2.4

In [4]:
b//a   # int division / floor division

2

In [5]:
b%a    # remainder

2

In [6]:
a**2   #exponent / power

25

## Comparison operators

In [7]:
a==b

False

In [8]:
a!=b

True

In [9]:
a>b

False

In [10]:
a<b

True

In [11]:
a>=b

False

## Logical Operators

In [12]:
x = 4
y = 4
z = 6

In [13]:
x == y and y == z

False

In [14]:
x == y or y == z

True

In [15]:
not x == y

False

## Membership Operator

In [16]:
'desh' in 'Bangladesh'

True

In [17]:
'dsh' in 'Bangladesh'

False

## Identity operator

In [18]:
a is b

False

## Data Structures

(i) List:

In [4]:
list_1 = ['BUET', 'RUET', 'EWU', 'Brac']
list_2 = [1, 2, 3, 4]

In [5]:
list_1[1]

'RUET'

In [6]:
# Slicing lower:upper
list_1[:3]

['BUET', 'RUET', 'EWU']

In [7]:
list_1[1:]

['RUET', 'EWU', 'Brac']

List methods:

In [8]:
# update list
list_1.append('NSU')  #last a 'NSU' add hobe.
print(list_1)

['BUET', 'RUET', 'EWU', 'Brac', 'NSU']

In [9]:
list_1.insert(2, 'KUET')  # index 2 er por 'KUET' add hbe
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU']

In [10]:
list_1.extend([10, 20])  # list_1 er sesh a [10, 20] list ti add hbe
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 10, 20]

In [11]:
list_1.extend(list_2)
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 10, 20, 1, 2, 3, 4]

In [32]:
list_1 + list_2

['BUET',
 'RUET',
 'KUET',
 'EWU',
 'Brac',
 'NSU',
 'NSU',
 10,
 20,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4]

In [33]:
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 'NSU', 10, 20, 1, 2, 3, 4]

In [12]:
# Remove items
del list_1[6:]  # index 6 theke last porjonto del hbe
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU']

In [13]:
list_1.append(10)
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 10]

In [14]:
list_1.remove(10)  # list_1 theke 10 remove hbe
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU']

In [15]:
del list_1[-2]
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'NSU']

In [16]:
list_1.pop()  # list_1 er last item pop hye return korbe and list theke del hbe

'NSU'

In [17]:
list_1

['BUET', 'RUET', 'KUET', 'EWU']

In [18]:
list_1 += ['RUET', 'RUET']
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'RUET', 'RUET']

In [19]:
list_1.count('RUET')  # 'RUET' kotobar ache count korbe

3

In [20]:
list_3 = ['b', 'c', 'e', 'a']  # ascending order a sort hbe
sorted(list_3)

['a', 'b', 'c', 'e']

(ii) Tuples:

In [1]:
tup = ('a', 'b', 'c', 'd')

In [21]:
type(list_1), type(tup)

(list, tuple)

In [22]:
list_1[0]

'BUET'

In [23]:
list_1[0]= 'DU'
list_1

['DU', 'RUET', 'KUET', 'EWU', 'RUET', 'RUET']

In [24]:
tup[0]= 'z'
tup

TypeError: 'tuple' object does not support item assignment

In [25]:
tup += ('e',)
tup

('a', 'b', 'c', 'd', 'e')

In [26]:
len(tup)

5

 (iii) Dictionaries:

In [27]:
dict = {'b' : 'BUET', 'r' : 'RUET', 'k' : 'KUET', 'e' : 'EWU', 'n' : 'NSU'}
dict['e']

'EWU'

In [28]:
dict['r'] = 'RU'  # updating a key
dict

{'b': 'BUET', 'r': 'RU', 'k': 'KUET', 'e': 'EWU', 'n': 'NSU'}

In [29]:
dict['rt'] = 'RUET'  # adding a key and a string
dict

{'b': 'BUET', 'r': 'RU', 'k': 'KUET', 'e': 'EWU', 'n': 'NSU', 'rt': 'RUET'}

In [30]:
dict.keys()  # shows all keys

dict_keys(['b', 'r', 'k', 'e', 'n', 'rt'])

In [31]:
dict.values()  # shows all values

dict_values(['BUET', 'RU', 'KUET', 'EWU', 'NSU', 'RUET'])

(iv) Set:

In [32]:
s= {9, 1, 2, 3, 4, 4, 4}
s

{1, 2, 3, 4, 9}

In [33]:
s[1]

TypeError: 'set' object is not subscriptable

(v) String:

In [1]:
string = "Bangladesh is 'LOVE'. I love her."
string

"Bangladesh is 'LOVE'. I love her."

In [2]:
string = 'Bangladesh is \'LOVE\'. I love her.'
string

"Bangladesh is 'LOVE'. I love her."

In [3]:
print('I am Dipanjan.')
print('I love Biriyani.')

I am Dipanjan.
I love Biriyani.

In [4]:
print("Bangladesh is Love.", end=" ")
print("I love her.")

Bangladesh is Love. I love her.

In [5]:
print("Bangladesh is Love.", end="\t")
print("I love her.")

Bangladesh is Love.	I love her.

In [6]:
string[1:6]

'angla'

In [7]:
n= 147570
string_2 = "Area of Bangladesh is: "
print(string_2, n, ' sq. km.')

Area of Bangladesh is:  147570  sq. km.

In [8]:
print(f"Area of BD is {n} sq. km.")

Area of BD is 147570 sq. km.

In [9]:
print(f"{string_2}{n} sq. km.")

Area of Bangladesh is: 147570 sq. km.

In [10]:
s1= 'bangla'
s2= 'wash'

In [13]:
washed= s1+ '-'+ s2
washed

'bangla-wash'

In [12]:
len(s1)

6

In [14]:
washed.split('a')

['b', 'ngl', '-w', 'sh']

In [15]:
washed.find("wash")

7